:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 24px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin-inline: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.nav {
  border-radius: 12px;
  background-color: #fff6f0a8;
  color: rgb(255, 81, 0);
  padding: 21px;
  margin-bottom: 34px;
  display: flex;
  gap: 21px;
}

.article-view {
  direction: rtl;
  margin-top: 21px;
  padding: 34px;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  gap: 13px;
  max-width: 900px;
  margin-inline: auto;
}

.articlesContainer {
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.card {
  min-width: 350px;
  min-height: 250px;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
  gap: 13px;
  flex-grow: 1;
}

.card p,
.card h1,
.card h2 {
  direction: rtl;
}

.card img,
.article-view img {
  width: auto;
  height: 300px;
  border-radius: 13px;
  object-fit: cover;
}
